services:
  db:
    image: postgres:16-alpine
    networks:
      - lmsbackend_my_network
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./data/db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always
    healthcheck:                      
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 10

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    networks:
      - lmsbackend_my_network
    depends_on:
      - db

  redis:
    image: redis:7-alpine             
    command: ["redis-server", "--appendonly", "yes"]
    networks:
      - lmsbackend_my_network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

# For production mode:
# *****************************************************************************************************************
  # web:
  #   build: .
  #   command: daphne -b 0.0.0.0 -p 8888 lms_project.asgi:application
  #   networks:
  #     - lmsbackend_my_network
  #   depends_on:
  #     db:
  #       condition: service_healthy   
  #     redis:
  #       condition: service_healthy
  #   env_file:
  #     - .env
  #   volumes:
  #     - .:/code
  #     - ./media:/code/media
  #     - ./static:/code/static
  #     - ./templates:/code/templates
  #   ports:
  #     - "8888:8888"

# *****************************************************************************************************************
# For development mode:
# *****************************************************************************************************************
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8888
    networks:
      - lmsbackend_my_network
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    volumes:
      - .:/code
      - ./media:/code/media
      - ./static:/code/static
      - ./templates:/code/templates
    ports:
      - "8888:8888"
# *****************************************************************************************************************

networks:
  lmsbackend_my_network:
    driver: bridge