services:
  db:
    image: postgres:13
    networks:
      - lmsbackend_my_network
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./data/db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    networks:
      - lmsbackend_my_network

  redis:
    image: redis:7
    command: ["redis-server", "--appendonly", "yes"]
    networks:
      - lmsbackend_my_network
    restart: unless-stopped

  web:
    build: .
    command: daphne -b 0.0.0.0 -p 8888 lms_project.asgi:application
    networks:
      - lmsbackend_my_network
    depends_on:
      - db
      - redis
    env_file:
      - .env
    volumes:
      - .:/code
      - ./media:/code/media
      - ./static:/code/static
      - ./templates:/code/templates
    ports:
      - "8888:8888"

networks:
  lmsbackend_my_network:
    driver: bridge
